[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test = "pytest test"

[dev-packages]
pytest = "*"
faker = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"

[requires]
python_version = "3.8"
